    <div class="container">
        <div class="row">
            <div class="col">
              <br>
              <h1>
                Eventos
              </h1>
              <br>
              <li 
              *ngFor="let employee of employeeArray"
              class="list-group-item list-group-item-action"
              (click)="openForEdit(employee)"
              [class.active]="employee == selectedEmployee"
              >
              <span class="badge badge-primary">{{employee.id}}</span> - {{ employee.name }} - {{employee.evento}}- {{employee.profesor}}- {{employee.laboratorio}}
            </div>
          </div>
        </div>
