    <div class="container">
        <div class="row">
            <div class="col">
              <br>
              <h1>
                Eventos
              </h1>
              <table>
                <li 
                *ngFor="let employee of employeeArray"
                class="list-group-item list-group-item-action"
                (click)="openForEdit(employee)"
                [class.active]="employee == selectedEmployee"
                >
                <span class="badge badge-primary">{{employee.id}}</span> - {{employee.evento}}- {{employee.profesor}}- {{employee.laboratorio}}
            
              </table>
             
           </div>
          </div>
        </div>
