<form action="">
    <h1 class="heading">Recuperar Contraseña</h1>
    <div class="inputcaja">
        <label for="">nombre</label>
        <input type="text" required>
        
    </div>
    <div class="inputcaja">
        <label for="">Correo electronico</label>

        <input type="email" required>
    </div>
    <div class="inputcaja">
        <label for="">Numero telefonico</label>
        <input type="number" required>
    </div>
    <input type="submit" class="btn" value="Enviar">
</form>
