<form action="" [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
    <h1 class="heading">Recuperar Contraseña</h1>
    <div class="inputcaja">
        <label for="">nombre</label>
        <input type="text" required>
        
    </div>
    <div class="inputcaja">
        <label for="">Correo electronico</label>
        <input type="email" required>
        <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
            El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
            El <strong>correo</strong> es invalido
        </span>
    </div>
    <div>

    </div>
    <input type="submit" class="btn" value="Enviar" class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid">
    <a routerLink="/Iniciar">Volver</a>
</form>
