<div>
    <form action="#" target="" method="get" name="formDatosPersonales" id="formulario">
   
          <label for="email"><img src="svg/fi-ss-user.svg" alt=""></label>
           <input type="email" name="email" id="email" placeholder="Correo Electronico" required /><br>
           <label for="mensaje"><img src="svg/fi-ss-lock.svg" alt=""></label> 
           <input type="password" name="password" id="password" minlength="6" placeholder="******">
           <a href="/Recuperar">Recuperar contraseña</a>
           <input type="reset" value="Borrar" name="">
           <input type="submit" value="Ingresar"/>
           
       </form>
  </div>
  <router-outlet></router-outlet>
   