
<section class="inicio" id="inicio">
    <div class="content">
        <h3>laboratorios de Uleam</h3>
        <p>la Gestión y la Administración de los recursos de la Sección de Laboratorios, que permita facilitar y agilizar el control y seguimiento interno de los mismos, y responder oportunamente a las necesidades de información requeridas por la Comunidad Universitaria.</p>
        <a href="#" class="btn">Mas detalles</a>
    </div>
</section>
    <h1 class="heading"> Funciones</h1>
    <div class="caja-c">
        <div class="caja" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur, esse ullam eum accusamus ducimus neque nobis delectus enim, repellat quibusdam tempora voluptates est minima molestiae ipsum, magnam obcaecati quae.
            </p>
        </div>
    </div>

<footer id="contacto">
    <div class="contenedor footer-content" >
        <div class="contact-us">
            <h2 class="brand">Bryan Anchundia Macias</h2>
        </div>
    </div>
</footer>
